@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?v1czqe");
  src: url("../fonts/icomoon.eot?v1czqe#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?v1czqe") format("truetype"), url("../fonts/icomoon.woff?v1czqe") format("woff"), url("../fonts/icomoon.svg?v1czqe#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-location:before {
  content: "\e90e"; }

.icon-map:before {
  content: "\e90e"; }

.icon-mail-envelope-closed:before {
  content: "\e910"; }

.icon-stop-watch:before {
  content: "\e90f"; }

.icon-clouds:before {
  content: "\e900"; }

.icon-clouds1:before {
  content: "\e901"; }

.icon-cloud-moon-raindrops:before {
  content: "\e902"; }

.icon-cloud-sun-raindrops:before {
  content: "\e903"; }

.icon-cloud-moon-lightning:before {
  content: "\e904"; }

.icon-cloud-sun-lightning:before {
  content: "\e905"; }

.icon-cloud-moon-snow:before {
  content: "\e906"; }

.icon-cloud-sun-snow:before {
  content: "\e907"; }

.icon-cloud-moon-rain:before {
  content: "\e908"; }

.icon-cloud-sun-rain:before {
  content: "\e909"; }

.icon-cloud-wind:before {
  content: "\e90a"; }

.icon-cloud-lightning:before {
  content: "\e90b"; }

.icon-cloud-sun:before {
  content: "\e90c"; }

.icon-cloud-snow:before {
  content: "\e90d"; }

.icon-home3:before {
  content: "\e911"; }

.icon-add {
  width: 10px;
  height: 10px;
  position: relative;
  display: inline-block; }
  .icon-add:after, .icon-add::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff; }
  .icon-add:after {
    width: 10px;
    height: 1px; }
  .icon-add:before {
    width: 1px;
    height: 10px; }

.arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-right: 1px solid rgba(255, 255, 255, 0.6); }
  .arrow.arrow-down {
    transform: rotate(135deg); }

.checkbox-custom {
  height: 27px;
  padding-left: 35px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 16px;
  font-weight: 200;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/* Hide the browser's default checkbox */
.checkbox-custom input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 1px solid #fff; }

/* On mouse-over, add a grey background color */
/* When the checkbox is checked, add a blue background */
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.checkbox-custom input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.checkbox-custom .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg); }

.checkbox-block {
  margin-bottom: 40px; }

.input-block, .select-block {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6); }
  .input-block p sup, .select-block p sup {
    color: red; }
  .input-block input, .input-block select, .select-block input, .select-block select {
    width: 100%;
    padding: 10px;
    display: block;
    background: transparent;
    border: 0;
    font-size: 16px;
    box-sizing: border-box;
    color: #fff; }
    .input-block input::-webkit-input-placeholder, .input-block select::-webkit-input-placeholder, .select-block input::-webkit-input-placeholder, .select-block select::-webkit-input-placeholder {
      color: #fff; }
    .input-block input::-moz-placeholder, .input-block select::-moz-placeholder, .select-block input::-moz-placeholder, .select-block select::-moz-placeholder {
      color: #fff; }
    .input-block input:-ms-input-placeholder, .input-block select:-ms-input-placeholder, .select-block input:-ms-input-placeholder, .select-block select:-ms-input-placeholder {
      color: #fff; }
    .input-block input::-ms-input-placeholder, .input-block select::-ms-input-placeholder, .select-block input::-ms-input-placeholder, .select-block select::-ms-input-placeholder {
      color: #fff; }
    .input-block input::placeholder, .input-block select::placeholder, .select-block input::placeholder, .select-block select::placeholder {
      color: #fff; }
    .input-block input:focus, .input-block select:focus, .select-block input:focus, .select-block select:focus {
      outline: none; }

.area-block p {
  padding-top: 10px;
  margin-bottom: 10px; }

.area-block textarea {
  width: 100%;
  padding: 10px;
  display: block;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box; }

.select-block {
  display: flex;
  align-items: center;
  flex-direction: row-reverse; }
  .select-block .select-icon {
    pointer-events: none; }
  .select-block select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
    .select-block select option {
      background: #fff;
      color: #495388; }

.btn-primary {
  width: 100%;
  max-width: 60vw;
  height: 45px;
  text-align: center;
  background: #fff;
  border: 1px solid #fff;
  color: #495489;
  border-radius: 45px;
  font-weight: 600;
  letter-spacing: 1px; }

body {
  margin: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  transition: all 1s ease-in-out;
  background-image: linear-gradient(to right, #6c8aca, #495388); }

li,
a,
ul,
figure, h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 1.4; }

.container {
  padding: 0 25px; }

.heading {
  font-size: 24px;
  font-weight: 500; }

.sub-heading {
  font-size: 22px;
  font-weight: 400; }

.title {
  font-size: 18vw;
  font-weight: 100;
  letter-spacing: 5.5px; }
  .title sup {
    font-size: 8vw; }

.sub-title {
  font-size: 30px;
  font-weight: 400; }

.p-small {
  font-size: 12px;
  font-weight: 200; }

.icon-large {
  font-size: 40vw; }

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.page-weather .header {
  flex: 1; }

.header {
  padding: 25px 0; }
  .header__heading {
    margin-bottom: 10px;
    text-align: center; }
  .header__p {
    margin-bottom: 10px; }
  .header__icon {
    font-size: 20px;
    margin-right: 5px; }

.list__cta {
  color: #fff; }
  .list__cta a {
    text-decoration: underline;
    color: #fff; }

.list__container {
  margin-bottom: 5vh; }

.item {
  height: 50px;
  margin-bottom: 1px;
  background: rgba(255, 255, 255, 0.05); }
  .item__icon {
    font-size: 30px;
    text-align: center; }
  .item__container {
    height: 100%; }
    .item__container > * {
      flex: 1; }
    .item__container p:last-child {
      text-align: right; }

.form__des {
  margin-bottom: 15px; }

.form__footer {
  margin-top: 40px;
  text-align: center; }

@-webkit-keyframes loading {
  0% {
    width: 50pt;
    height: 50pt;
    margin-top: 0; }
  25% {
    height: 4pt;
    margin-top: 23pt; }
  50% {
    width: 4pt; }
  75% {
    width: 50pt; }
  100% {
    width: 50pt;
    height: 50pt;
    margin-top: 0; } }

@keyframes loading {
  0% {
    width: 50pt;
    height: 50pt;
    margin-top: 0; }
  25% {
    height: 4pt;
    margin-top: 23pt; }
  50% {
    width: 4pt; }
  75% {
    width: 50pt; }
  100% {
    width: 50pt;
    height: 50pt;
    margin-top: 0; } }

.loader {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: #dbdbe6 2px solid;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  -webkit-animation: loading 1s infinite;
          animation: loading 1s infinite; }

.load-text {
  padding-top: 15px;
  text-align: center;
  color: white; }

.card-wrap {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border: 1px solid #fff; }
  .card-wrap p {
    font-size: 10px;
    font-weight: 200;
    text-align: center; }
  .card-wrap .card-icon {
    font-size: 30px; }
